<div class="container">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>a
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%=tinymce%>
    <%= f.text_area :content, :class => "form-control tinymce", :rows => 20, :cols => 5 %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <% if current_user.has_role? :admin %>
  <font color="red">어드민 전용 : 해당 게시글 공지사항 설정 </font><br/>
  <%= f.check_box :notice, id: :post_notice %>
<% end %>



<% end %>
</div>