

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search!</label>
            		<input type="string" name="query" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
        </div>
    </div>
</div>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>좋아요</th>
        <th>작성시간</th>
        
      </tr>
    </thead>
 <%# 공지 사항 게시글만 보여짐. %>
  <tbody>
    <% @posts.each do |post| %>
      <% if post.notice == true %>
        <tr>
          <font color="red">
          <td><%= post.title %></td>
          <td><%= post.user.name %></td>
          <% if current_user.has_role? :admin %>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          
          <% end %>
          </font>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  
    <tbody>
      <%# @postss =@posts.reverse %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title , post %></td>
          <td><%= post.user.name %></td>
          <td><%= post.likes.size %> 명</td>
          <td><%= post.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  </div>
  
  <br>
  
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">

  <% if current_user.nil? %>
    <div class="col-md-6 col-md-offset-0"><a href="/users/sign_in"><button type="button" class="flat-butt flat-info-butt">WRITE WITH LOGIN!</button></a></div>
  <%else%>
      <div class="col-md-6 col-md-offset-0"><a href="/posts/new"><button type="button" class="flat-butt flat-info-butt">WRITE!</button></a></div>
  <%end%>
  
  </div>
  </div>
    
  </div>


